# SPDX-License-Identifier: Apache-2.0
# Copyright 2021 Fairphone B.V.

on init
    setprop sys.usb.configfs 1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
